.footer {
  background-color: #232323;
  height: 80px;
}
.footer a {
  color: #cdd5d5;
  font-size: 16px;
  padding: 14px 30px;
  border-radius: 5px;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer a:hover {
  color: #232323;
  text-decoration: none;
  transform: translateY(-20px);
  box-shadow: 0 5px 27px #222222;
  background-color: #cdd5d5;
}